<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title> 
</head>
<body>
    <div class = "login-box">
        <form action = "/login" method = "POST" class = "box">
        
        <h1> User Login</h1>
            <!-- <label for = "name"> Name </label> -->
            <p> Email </p>
            <input type="email" name="email" placeholder="Email" required>
            <p> Password </p>
            <input type="password" name="password" placeholder="Password" required>
            <!-- <input type = "submit" name = "submit" value = "Continue"> -->
            <!-- <input type = "submit" name = "submit"> -->
            <button type = "submit" > Continue </button>
        </form>
        </div>
</body>
</html>